 - var nameField = 'dropdown'
 - var textSelected = '3 гостя'
 - var textField = ''
 - var options = ['взрослые', 'дети', 'младенцы'] 
 - var classDivSelected = 'dropdown-guests__selected'

 include ../dropdown-guests/dropdown-guests.pug