.pagination-item__list {
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 1px;
}

.pagination-item__item {
  list-style: none;
  margin-right: -1px;
}

.pagination-item__a {
  @include h3-style($dark-50);
  text-decoration: none;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
}

.pagination-item__a_active {
  color: $white;
  background: $gradient;
}

.pagination-item__a_arrow {
  background: $gradient-secondary;
}

.pagination-item__text {
  @include body-style-text();
  margin-top: 2px;
  margin-left: 6px;
}
