- var copyrightText ='Copyright © 2018 Toxin отель. Все права зачищены.'

p.links__text #{copyrightText}
div(class='links__social ' + classLinks)
  a.link__social(href="")
    img(class='link__social_twitter '+classTwitter src='Ui-kit/header-footer/links/2.svg')
  a.link__social(href="")
    img(class='link__social_facebook' src='Ui-kit/header-footer/links/1.svg')
  a.link__social(href="")
    img(class='link__social_instagram' src='Ui-kit/header-footer/links/3.svg')