.cards__header
  include ../header/header.pug
.cards__main
  .cards__column
    .cards__column_search
      include card-search/card-search.pug
    .cards__column_registration
      include card-registration/card-registration.pug

  .cards__column
    .cards__column_room
      include _card-room/_card-room.pug
    .cards__column_login
      include card-login/card-login.pug

  .cards__column
    .cards__column_calendar
      include calendar/calendar.pug
    .cards__column_apartament
      include _card-apartament/_card-apartament.pug
    .cards__column_apartament2
      include _card-apartament2/_card-apartament2.pug