.cards__header
  include ../header/header.pug
.cards__main
  .cards__column
    .cards__column_search
      include card-search/card-search.pug
    .cards__column_registration
      include card-registration/card-registration.pug

  .cards__column
    .cards__column_room
      include card-room/card-room.pug
    .cards__column_login
      include card-login/card-login.pug

  .cards__column
    .cards__column_calendar
      include calendar/calendar.pug