@import "card-search/card-search.scss";
@import "card-registration/card-registration.scss";
@import "card-login/card-login.scss";
@import "card-room/card-room.scss";
//@import "../form-elements/dropdown/dropdown.scss";

.cards__main {
  display: flex;
  margin: 19px 140px 0 139px;
}
.cards__column {
  margin-right: 40px;
}

.card-search {
  margin-bottom: 40px;
}

.card-registration {
  margin-bottom: 140px;
}

.cards__column_room {
  margin-bottom: 39px;
}
