@import "card-search/card-search.scss";
@import "card-registration/card-registration.scss";
@import "card-login/card-login.scss";
@import "card__header/card__header.scss";
@import "_card-room/_card-room.scss";
@import "calendar/calendar.scss";
@import "card-apartament/card-apartament.scss";

.cards__main {
  display: flex;
  margin: 19px 140px 0 140px;
  background: #f4f4f6;
}
.cards__column {
  margin-right: 40px;
}

.cards__column_search {
  margin-bottom: 40px;
  margin-top: -1px;
}

.cards__column_registration {
  margin-bottom: 140px;
}

.cards__column_room {
  margin-bottom: 39px;
}

.cards__column_calendar {
  margin-left: 1px;
  margin-top: -1px;
  margin-bottom: 40px;
}

.card__column:last-of-type {
  margin-left: -1px;
}

.cards__column_apartament {
  margin-bottom: 39.5px;
}
