- var nameField = 'masked text field';
- var defText = ''
- var placeholderText = 'ДД.ММ.ГГГГ'
- var classInput = 'input-masked-date'
- var inputType = 'text'
- var classText = ''

include ../input/input.pug