### Node ###

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Dependency directories
/node_modules
/jspm_packages
/bower_components

# Yarn Integrity file
.yarn-integrity

# Optional eslint cache
.eslintcache

# dotenv environment variables file(s)
.env
.env.*

#Build generated
dist/
build/
stats.json

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project


### VisualStudioCode ###
.vscode/*
jsconfig.json

### WebStorm/IntelliJ ###
/.idea
modules.xml
*.ipr


### System Files ###
.DS_Store

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
*.editorconfig
*.lock
*.stylelintignore
*.stylelintrc
*.eslintignore
babel.config.js
*.eslintrc.js
Compiled-HTML/app/index.html
Compiled-HTML/app/UI-kit/cards/card-search/card-search.html
Compiled-HTML/app/UI-kit/form-elements/_bullet-list/_bullet-list.html
Compiled-HTML/app/UI-kit/form-elements/_button_arrow/_button_arrow.html
Compiled-HTML/app/UI-kit/form-elements/_buttons/_buttons.html
Compiled-HTML/app/UI-kit/form-elements/_card-benefit-comfort/_card-benefit-comfort.html
Compiled-HTML/app/UI-kit/form-elements/_card-benefit-convenience/_card-benefit-convenience.html
Compiled-HTML/app/UI-kit/form-elements/_checkbox-buttons/_checkbox-buttons.html
Compiled-HTML/app/UI-kit/form-elements/_checkbox-expandable/_checkbox-expandable.html
Compiled-HTML/app/UI-kit/form-elements/_checkbox-expandable-without-list/_checkbox-expandable-without-list.html
Compiled-HTML/app/UI-kit/form-elements/_dropdown-default/_dropdown-default.html
Compiled-HTML/app/UI-kit/form-elements/_dropdown-guests/_dropdown-guests.html
Compiled-HTML/app/UI-kit/form-elements/_dropdown-guests-apply/_dropdown-guests-apply.html
Compiled-HTML/app/UI-kit/form-elements/_dropdown-menu/_dropdown-menu.html
Compiled-HTML/app/UI-kit/form-elements/_dropdown-date/_dropdown-date.html
Compiled-HTML/app/UI-kit/form-elements/dropdown-filter-date/dropdown-filter-date.html
Compiled-HTML/app/UI-kit/form-elements/_dropdown-guest/_dropdown-guest.html
Compiled-HTML/app/UI-kit/form-elements/_input-default/_input-default.html
Compiled-HTML/app/UI-kit/form-elements/_input-focus/_input-focus.html
Compiled-HTML/app/UI-kit/form-elements/_input-masked/_input-masked.html
Compiled-HTML/app/UI-kit/form-elements/_input-subscription/_input-subscription.html
Compiled-HTML/app/UI-kit/form-elements/_like-buttons/_like-buttons.html
Compiled-HTML/app/UI-kit/form-elements/_pagination/_pagination.html
Compiled-HTML/app/UI-kit/form-elements/_post/_post.html
Compiled-HTML/app/UI-kit/form-elements/_radio-buttons/_radio-buttons.html
Compiled-HTML/app/UI-kit/form-elements/_range-slider/_range-slider.html
Compiled-HTML/app/UI-kit/form-elements/_rate-buttons/_rate-buttons.html
Compiled-HTML/app/UI-kit/form-elements/_rate-stars/_rate-stars.html
Compiled-HTML/app/UI-kit/form-elements/_rich-checkbox-buttons/_rich-checkbox-buttons.html
Compiled-HTML/app/UI-kit/form-elements/_toggle/_toggle.html
Compiled-HTML/app/UI-kit/header/header.html
Compiled-HTML/source/index.html
