- var nameField = 'date dropdown'
- var optSelect = 'ДД.ММ.ГГГГ'
- var options = ['11.11.2020', '20.12.2020', '31.09.1999'] 
- var classDropdown = 'dropdownDate';
- var classDivDropdown = 'divDropdown-widthMin'
- var textField = ''

include ../dropdown/dropdown.pug