- var heading = 'toggle';
- var options = [{'text':'Получать спецпредложения', 'checked':true}, {'text':'Получать спецпредложения'}]
- var classButton = 'toggle-button';
- var classDivCheckbox = 'toggle-div';
- var classText = 'toggle-text';

.toggle
  .toggle__heading #{heading}
  include toggle__buttons.pug