.checkbox-item
  label.checkbox-item__label 
    p(class="checkbox-item__text "+ classText) #{opt}
    div(class="checkbox-item__mark " + classDivCheckbox)
    input(type="checkbox" class= classButton)