- var nameField = 'dropdown'
- var optSelect = '2 спальни, 2 кровати'
- var options = ['2 спальни, 1 кровать', '1 спальня, 1 кровать', '3 спальни, 4 кровати'] 
- var classDropdown = 'dropdown-default';
- var classDivDropdown = 'divDropdown-widthAve'
- var textField = 'Default'

include ../dropdown/dropdown.pug