@import "content/mixin";
@import "header/header";
@import "content/input/input";
@import "content/_input-focus/_input-focus";
@import "content/dropdown/dropdown";
@import "content/_dropdownDate/_dropdownDate";
@import "content/_dropdownDate2/_dropdownDate2";
@import "content/_dropdownFilterDate/dropdownFilterDate";
@import "content/_input-subscription/input-subscription";
@import "content/_dropdown-default/dropdown-default";
@import "content/dropdown-menu/dropdown-menu";

.main {
  margin: 0 140px;
}

.column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 320px;
  justify-content: space-between;
}

.input-default-kit {
  @include marginBottomX(7px);
}

.dropdownDefault-kit {
  @include marginBottomX(8px);
}

.input-focus-kit {
  @include marginBottomX(8px);
}

.dropdownGuests-kit {
  @include marginBottomX(11px);
}

.input-masked-kit {
  @include marginBottomX(29px);
}

.dropdownDate2-kit {
  @include marginBottomX(28px);
}

.dropdownFilterDate-kit {
  @include marginBottomX(29px);
}

.inputSubscription-kit {
  @include marginBottomX(88px);
}
