@import "content/mixin";
@import "header/header";
@import "content/input/input";
@import "content/_input-focus/_input-focus";
@import "content/dropdown/dropdown";
@import "content/_dropdownDate/_dropdownDate";
@import "content/_dropdownDate2/_dropdownDate2";
@import "content/_dropdownFilterDate/dropdownFilterDate";

.main {
  margin: 0 140px;
}

.input-default-kit,
.input-masked-kit {
  @include marginBottomX(7px);
}

.input-focus-kit {
  @include marginBottomX(8px);
}

.dropdownGuests-kit {
  @include marginBottomX(11px);
}

.column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 320px;
  justify-content: space-between;
}
