.header-kit
  include header/header.pug
.main
  .column
    .input-default-kit
      include content/_input-default/_input-default.pug
    .input-focus-kit
      include content/_input-focus/_input-focus.pug 
    .dropdownGuests-kit
      include content/_dropdownGuests/_dropdownGuests.pug
    .input-masked-kit
      include content/_input-masked/_input-masked.pug
    .dropdownDate-kit
      include content/_dropdownDate/_dropdownDate.pug
    .dropdownDate2-kit
      include content/_dropdownDate2/_dropdownDate2.pug
    .dropdownFilterDate-kit
      include content/_dropdownFilterDate/_dropdownFilterDate.pug
    .inputSubscription-kit
      include content/_input-subscription/_input-subscription.pug
    .dropdownDefault-kit
      include content/_dropdown-default/_dropdown-default.pug
    .dropdownMenu-kit
      include content/_dropdown-menu/_dropdown-menu.pug