include header/header.pug
.section
  include content/_input-default/_input-default.pug
  include content/_input-focus/_input-focus.pug 
  include content/_dropdownGuests/_dropdownGuests.pug
  include content/_maskedTextField/_maskedTextField.pug