.header-kit
  include header/header.pug
.section
  .input-default-kit
    include content/_input-default/_input-default.pug
  .input-focus-kit
    include content/_input-focus/_input-focus.pug 
  .dropdownGuests-kit
    include content/_dropdownGuests/_dropdownGuests.pug
  .input-masked-kit
    include content/_input-masked/_input-masked.pug