.header-kit
  include header/header.pug
.main
  .row
    .column
      .input-default-kit
        include content/_input-default/_input-default.pug
      .input-focus-kit
        include content/_input-focus/_input-focus.pug 
      .dropdownGuests-kit
        include content/_dropdownGuests/_dropdownGuests.pug
      .input-masked-kit
        include content/_input-masked/_input-masked.pug
      .dropdownDate-kit
        .dropdownDate1-kit
          include content/_dropdownDate/_dropdownDate.pug
        .dropdownDate2-kit
        include content/_dropdownDate2/_dropdownDate2.pug
      .dropdownFilterDate-kit
        include content/_dropdownFilterDate/_dropdownFilterDate.pug
      .inputSubscription-kit
        include content/_input-subscription/_input-subscription.pug
    .column
      .dropdownDefault-kit
        include content/_dropdown-default/_dropdown-default.pug
      .dropdownMenu-kit
        include content/_dropdown-menu/_dropdown-menu.pug
      .checkboxList-kit
        include content/_checkbox-expandable-without-list/_checkbox-expandable-without-list.pug
      .checkboxList2-kit
        include content/_checkbox-expandable/_checkbox-expandable.pug  
    .column
      .cardBenefitComfort-kit
        include content/_card-benefit-comfort/_card-benefit-comfort.pug
      .cardBenefitConvenience-kit
        include content/_card-benefit-convenience/_card-benefit-convenience.pug
  .row.row_second
    .column
      .checkboxButtons-kit
        include content/_checkbox-buttons/_checkbox-buttons.pug
      .radioButtons-kit
        include content/_radio-buttons/_radio-buttons.pug
      .toggleButtons-kit
        include content/_toggle/_toggle.pug
      .likeButtons-kit
        include content/_like-buttons/_like-buttons.pug
      .rateButtons-kit
        include content/_rate-buttons/_rate-buttons.pug
    .column
      .dropdownGuestsApply-kit
        include content/_dropdown-guests-apply/_dropdown-guests-apply.pug
      .richCheckboxButtons-kit
        include content/_rich-checkbox-buttons/_rich-checkbox-buttons.pug
    .column.column_post
      .post-kit
        include content/_post/_post.pug
  .row
    .column
      .rangeSlider-kit
        include content/_range-slider/_range-slider.pug
      .buttons-kit
        include content/_buttons/_buttons.pug
      .pagination-kit 
        include content/_pagination/_pagination.pug
      .dropdownGuests2-kit
        include content/_dropdown-guests/_dropdown-guests.pug
      .bulletList-kit
        include content/_bullet-list/_bullet-list.pug