.header-kit
  include header/header.pug
.main
  .column
    .input-default-kit
      include content/_input-default/_input-default.pug
    .input-focus-kit
      include content/_input-focus/_input-focus.pug 
    .dropdownGuests-kit
      include content/_dropdownGuests/_dropdownGuests.pug
    .input-masked-kit
      include content/_input-masked/_input-masked.pug
    .dropdownDate-kit
      include content/_dropdownDate/_dropdownDate.pug
    .dropdownDate2-kit
      include content/_dropdownDate2/_dropdownDate2.pug
    .dropdownFilterDate-kit
      include content/_dropdownFilterDate/_dropdownFilterDate.pug
    .inputSubscription-kit
      include content/_input-subscription/_input-subscription.pug
    .dropdownDefault-kit
      include content/_dropdown-default/_dropdown-default.pug
    .dropdownMenu-kit
      include content/_dropdown-menu/_dropdown-menu.pug
    .checkboxList-kit
      include content/_checkbox-expandable-without-list/_checkbox-expandable-without-list.pug
    .checkboxList2-kit
      include content/_checkbox-expandable/_checkbox-expandable.pug
    .cardBenefitComfort-kit
      include content/_card-benefit-comfort/_card-benefit-comfort.pug
    .cardBenefitConvenience-kit
      include content/_card-benefit-convenience/_card-benefit-convenience.pug
  .column
    .checkboxButtons-kit
      include content/_checkbox-buttons/_checkbox-buttons.pug
    .radioButtons-kit
      include content/_radio-buttons/_radio-buttons.pug
    .toggle-kit
      include content/_toggle/_toggle.pug