block variables
div(class = flag ? 'dropdown-menu__select_widthAve ' + 'dropdown-menu__select ' + classDivSelected: 'dropdown-menu__select '+ classDivSelected)
    div(class='dropdown-menu__selectedItem ') 
      div(class='dropdown-menu__selectedItem_text '+ classDivSelectedText) #{textSelected}
      .dropdown-menu__selectedItem_arrow
    .dropdown-menu__list
      each opt in options
        .dropdown-menu__listItem 
          .dropdown-menu__listItemText #{opt}
          .dropdown-menu__counter
            div(class="dropdown-menu__buttonMinus dropdown-menu__counter-btn opacity_minus" 
            data-direction="minus") -
            .dropdown-menu__count 0
            div(class="dropdown-menu__buttonPlus dropdown-menu__counter-btn" 
            data-direction="plus") +
      block content