block variables
div(class='dropdown-menu ' + classDivDropdown)
  .dropdown-menu__description
    p.dropdown-menu__name #{nameField}
    p.dropdown-menu__text #{textField}
  include dropdown-menu__select.pug