- var heading = 'pagination'
- var options = ['1', '2', '3', '...', '15']
- var text = '1 – 12 из 100+ вариантов аренды'

.pagination
  .pagination__heading #{heading}
  .pagination__list
    include ../pagination-item/pagination-item.pug
    