- var heading = 'Radio Buttons';
- var options = ['Мужчина', 'Женщина']
- var name = 'sex';

.radio-buttons
  .radio-buttons__heading #{heading}
  .radio-buttons__buttons
    each opt in options
      include ../radio-button/radio-button.pug
    
