- var postNameAccount = 'Мурад Сарафанов'
- var postDate = '5 дней назад'
- var postText = 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
- var url = '/app/UI-kit/content/_post/avatar.png'
- var options = ['12']
- var classButton = 'like-button__button'

.post
  .post__account
    .post__avatar
      img(src=url, alt="avatar", class="post__avatar_img")
    .post__informanion
      p(class="post__name") #{postNameAccount}
      p(class="post__date") #{postDate}
  .post__text
    .post__like-button
      include ../like-button/like-button.pug
    p(class="post__text") #{postText}
