.buttons__heading {
  @include h3-style($dark-100);
  @include marginBottomX(16px);
}

.buttons__buttons,
.buttons__row {
  display: flex;
}

.buttons__buttons {
  flex-wrap: wrap;
}

.buttons__row {
  margin-bottom: 25px;
}

.buttons__row_2 {
  margin-bottom: 24px;
}

.buttons__row_3 {
  margin-left: -5px;
  margin-bottom: 24px;
}

.buttons__buttons_1 {
  margin-left: 1px;
  margin-right: 18px;
}

.buttons__buttons_3 {
  margin-right: 19px;
}

.buttons__buttons_5 {
  margin-right: 9px;
}

.buttons__button {
  position: relative;
  width: 99px;
  height: 44px;
  border-radius: 22px;
  border: none;
  @include h3-style(#fff);
  background: $gradient;
}

.buttons__button_text {
  @include h3-style($purple);
}

.buttons__button_textDark {
  @include h3-style($dark-50);
}

.buttons__button_text,
.buttons__button_textDark {
  border: none;
  background: none;
  width: auto;
  height: auto;
}

.buttons__button_unfilled {
  color: $purple;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  background: white;
  background-clip: padding-box;
}

.buttons__button_unfilled::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: $gradient;
  z-index: -1;
  border-radius: 22px;
}

.buttons__button_opacity.buttons__button_unfilled::after {
  opacity: 0.5;
}

.buttons__button_opacity-full {
  opacity: 0.5;
}
