- var text = 'expandable checkbox list'
- var options = ['Завтрак','Письменный стол','Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']
- var classDivCheckbox = ''

include ../checkbox-list/checkbox-list.pug