- var nameField = 'dropdown'
- var textSelected = '2 спальни, 2 кровати, 1 ванная комната'
- var textField = 'expanded'
- var options = ['спальни', 'кровати', 'ванные комнаты'] 
- var classDivDropdown = ''

include ../dropdown-menu/dropdown-menu.pug