- var heading = 'like buttons';
- var options = ['2', '12']
- var classButton = 'like-button__button'

.like-button
  .like-button__heading #{heading}
  .like-button__buttons
    each opt in options
      include ../button/button