- var nameField = 'text field';
- var defText = 'default'
- var placeholderText = 'Email'
- var inputType = 'text'
- var classInput = ''
- var classText = ''
- var classSection = 'kit-mb-7'

include ../input/input.pug