.card-login__heading {
  margin-bottom: 21px;
}

.card-login__name {
  margin-bottom: 10px;
}

.card-login__last-name {
  margin-bottom: 20px;
}

.card-login__footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2px;
}

.card-login__button-login {
  margin-bottom: 25px;
  margin-right: -1px;
}

.card-login__button {
  margin-right: -1px;
}

.card-login__text {
  margin-left: -1px;
}

.card-login__text_log-in {
  @include inputPlaceholder(#000);
  margin-top: 12px;
  margin-left: 1px;
}
