.checkbox-list {
  height: 44px;
}

.checkbox-list__description {
  width: 266px;
  height: 44px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.checkbox-list__text {
  @include name($dark-100);
  margin-bottom: 3px;
}

.checkbox-list__arrow {
  @include arrow($dark-50);
  height: 44px;
  background-position: right 15px bottom 19px;
}

.checkbox-list__list {
  display: none;
}
