.dropdown-guests-apply {
  @include widthInput($widthMax);
}

.dropdown-guests-apply__selected {
  width: $widthMax;
}

.dropdown-guests-apply__selected_text {
  display: flex;
}

.dropdown-guests-apply__buttons {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  height: 40px;
}

.dropdown-guests-apply__buttons_apply {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $purple;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
