- var classLinks = 'footer-min__links_social'
- var classTwitter = 'footer-min__links_twitter'

.footer-min 
  .footer-min__icon
    include ../icon/icon.pug
  .footer-min__links
    include ../links/links.pug