header.header-kit
  include ../header/header.pug
main.main
  .row
    .column
      .input-default-kit
        include _input-default/_input-default.pug
      .input-focus-kit
        include _input-focus/_input-focus.pug 
      .dropdownGuests-kit
        include _dropdown-guest/_dropdown-guest.pug
      .input-masked-kit
        include _input-masked/_input-masked.pug
      .dropdownDate-kit
        include _dropdown-date/_dropdown-date.pug
      .dropdownFilterDate-kit
        include _dropdown-filter-date/_dropdown-filter-date.pug
      .inputSubscription-kit
        include _input-subscription/_input-subscription.pug
    .column
      .dropdownDefault-kit
        include _dropdown-default/_dropdown-default.pug
      .dropdownMenu-kit
        include _dropdown-menu/_dropdown-menu.pug
      .checkboxList-kit
        include _checkbox-expandable-without-list/_checkbox-expandable-without-list.pug
      .checkboxList2-kit
        include _checkbox-expandable/_checkbox-expandable.pug  
    .column
      .cardBenefitComfort-kit
        include _card-benefit-comfort/_card-benefit-comfort.pug
      .cardBenefitConvenience-kit
        include _card-benefit-convenience/_card-benefit-convenience.pug
  .row.row_second
    .column
      .checkboxButtons-kit
        include _checkbox-buttons/_checkbox-buttons.pug
      .radioButtons-kit
        include _radio-buttons/_radio-buttons.pug
      .toggleButtons-kit
        include _toggle/_toggle.pug
      .likeButtons-kit
        include _like-buttons/_like-buttons.pug
      .rateButtons-kit
        include _rate-buttons/_rate-buttons.pug
    .column
      .dropdownGuestsApply-kit
        include _dropdown-guests-apply/_dropdown-guests-apply.pug
      .richCheckboxButtons-kit
        include _rich-checkbox-buttons/_rich-checkbox-buttons.pug
    .column.column_post
      .post-kit
        include _post/_post.pug
  .row
    .column
      .rangeSlider-kit
        include _range-slider/_range-slider.pug
      .buttons-kit
        include _buttons/_buttons.pug
      .pagination-kit 
        include _pagination/_pagination.pug
      .dropdownGuests2-kit
        include _dropdown-guests/_dropdown-guests.pug
      .bulletList-kit
        include _bullet-list/_bullet-list.pug