- var links = [{'name':'О нас', classA:'header-start__link_main'}, {'name':'Услуги', arrow:true}, {'name':'Вакансии'}, {'name':'Новости'}, {'name':'Соглашения', arrow:true}]
- var authorized = false
- var nick = 'Юлий Цезарь'

include ../header-start/header-start