div(class="radio-button " + classDivRadio)
  label.radio-button__label
    p.radio-button__text #{opt}
    input(type="radio" class="radio-button__item" name=name)
    div(class="radio-button__mark " + classButton)
      .radio-button__mark_inside
    