//@import "../form-elements/dropdownDate/dropdownDate.scss";

.card,
.card-search {
  width: $width380;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-search {
  height: 372px;
  box-sizing: border-box;
  overflow: hidden;
}

.card__heading,
.card-search__heading {
  @include h1-style();
  width: $widthMax;
  margin-top: 36px;
  margin-bottom: 11px;
}

.card-search__heading {
  margin-left: -1px;
  margin-top: 37px;
  margin-bottom: 10px;
}

.card-search__guests {
  margin-bottom: 31px;
}

.card-search__text-button {
  margin-left: -7px;
}

.card-search__button {
  margin-bottom: 26px;
  margin-left: -1px;
}

.card-seacrh__dates {
  display: flex;
  margin-bottom: 9px;
}

.card-seacrh__dates_arrival {
  margin-right: 20px;
}
