.card-registration {
  height: 646px;
  box-sizing: border-box;
  overflow: hidden;
}

.card-registration__information {
  margin-left: 1px;
}

.card-registration__heading {
  margin-top: 39px;
  margin-left: -1px;
  margin-bottom: 21px;
}

.card-registration__name {
  margin-bottom: 10px;
}

.card-registration__last-name {
  margin-bottom: 10px;
}

.card-registration__sex {
  margin-bottom: 2px;
}

.card-registration__birth-date {
  margin-bottom: 20px;
}

.card-registration__login_heading {
  @include h3-style($dark-100);
}

.card-registration__login_email {
  margin-bottom: 10px;
}

.card-registration__login {
  margin-bottom: 10px;
}

.card-registration__toggle {
  margin-bottom: 9px;
}

.card-registration__button_text {
  margin-left: -4px;
}

.card-registration__text_log-in {
  @include inputPlaceholder(#000);
}

.card-registration__button {
  margin-bottom: 28px;
}

.card-registration__footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: -4px;
}

.card-registration__button {
  margin-right: 1px;
  margin-top: 2px;
}

.card-registration__text {
  margin-left: 1px;
}
