.card-benefit {
  height: 88px;
  width: 280px;
  box-sizing: border-box;
  border-bottom: 1px solid $dark-10;
  padding-bottom: 17px;
  padding-top: 19px;
  display: flex;
}

.card-benefit__img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  background: no-repeat center;
}

.card-benefit__text_heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $dark-75;
}

.card-benefit__text_description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark-75;
}
