- var flag = false 
- var srcImg = 'UI-kit/cards/_card-apartament2/image.jpg'
- var symbol = '№'
- var number = '840'
- var type = ''
- var sum = '9 990₽'
- var desc = 'в сутки'
- var opt = ''
- var numberRev = '65'
- var wordRew = 'Отзывов'

include ../card-apartament/card-apartament.pug