- var nameField = 'filter date dropdown'
- var optSelect = '19 авг - 23 авг'
- var options = ['08 авг - 12 авг', '15 авг - 17 авг', '20 авг - 23 авг'] 
- var classDropdown = 'dropdown-filter';
- var classDivDropdown = 'divDropdown-widthAve'

include ../dropdown/dropdown.pug