- var nameField = 'subscription text field';
- var defText = ''
- var placeholderText = 'Email'
- var classInput = 'input__subscription'
- var inputType = 'email'
- var classText = 'input__text-focus'

include ../input/input.pug