- var nameField = 'text field';
- var defText = 'hover / focus'
- var placeholderText = 'This is pretty awesome'
- var classInput = 'input__focus'
- var inputType = 'text'
- var classText = 'input__text-focus'
- var classSection = 'kit-mb-8'

include ../input/input.pug