- var heading = 'rate button';

.rate-button
  .rate-button__heading #{heading}
  .rate-button__buttons
    .rate-button__buttons_col1
     include ../_rate-stars/_rate-stars
    .rate-button__buttons_col2
      include ../_rate-stars/_rate-stars