.card-benefit
  div(class='card-benefit__img ' + classCardImg)
  div(class='card-benefit__text ' + classBenefitText)
    .card-benefit__text_heading #{heading}
    .card-benefit__text_description #{description}