- var flag = true 
- var srcImg = 'UI-kit/cards/_card-apartament/image.jpg'
- var symbol = '№'
- var number = '888'
- var type = 'люкс'
- var sum = '9 990₽'
- var desc = 'в сутки'
- var opt = ''
- var numberRev = '145'
- var wordRew = 'Отзывов'

include ../card-apartament/card-apartament.pug