.input__focus::-webkit-input-placeholder {
  color: $dark-75;
  line-height: 24px;
}

.input__focus {
  border: 1px solid $dark-50;
}

.input__text-focus {
  line-height: 15px !important;
  margin-right: -2px;
}
