.input
  .input__description
    p.input__name #{nameField} 
    p(class = 'input__text ' + classText) #{defText}
  input(
    type = inputType
    placeholder = placeholderText
    class = 'input__default ' + classInput
)