- var heading = 'bullet list'
- var options = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']

.bullet-list
  .bullet-list__heading #{heading}
  .bullet-list__list
    include ../ul/ul.pug